<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.mango.org.core.mapper.SysOrgMapper">
    <select id="selectIdByTenantAndCode" resultType="java.lang.Long">
        SELECT id
        FROM sys_org
        WHERE tenant_id = #{tenantId}
          AND org_code = #{orgCode}
        LIMIT 1
    </select>
    <select id="selectIdByTenantAndCodeForUpdate" resultType="java.lang.Long">
        SELECT id
        FROM sys_org
        WHERE tenant_id = #{tenantId}
          AND org_code = #{orgCode}
        LIMIT 1
        FOR UPDATE
    </select>
    <select id="selectNameByTenantAndId" resultType="java.lang.String">
        SELECT org_name
        FROM sys_org
        WHERE tenant_id = #{tenantId}
          AND id = #{orgId}
        LIMIT 1
    </select>
</mapper>
