<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.mango.notice.core.mapper.NoticeBusinessChannelTemplateMapper">

    <select id="selectRegistryTargetById"
            resultType="io.mango.notice.core.entity.NoticeBusinessChannelTemplateEntity">
        select id,
               business_type_id,
               biz_type,
               channel_type,
               template_name,
               title_template,
               content_template,
               channel_template_id,
               variable_mapping,
               version,
               version_status,
               enabled,
               channel_config_id,
               route_mode,
               route_tag_code,
               publish_time,
               publish_by,
               tenant_id,
               created_by,
               created_at,
               updated_by,
               updated_at
        from notice_business_channel_template
        where id = #{id}
    </select>
</mapper>
