registry=http://nexus.inner.yunxinbaokeji.com/repository/npm-group/

@mango:registry=http://nexus.inner.yunxinbaokeji.com/repository/npm-hosted/
always-auth=true
link-workspace-packages=true
prefer-workspace-packages=true
