# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.m2/

# IDE
.idea/
*.iml
*.iws
*.ipr
.project
.classpath
.settings/
.vscode/

# SonarQube
.scannerwork/
report-task.txt

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Package files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
