<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.mango.payment.core.mapper.PaymentChannelMapper">

    <select id="countDeleteRelations" resultType="long">
        select (
            (select count(1)
               from payment_channel_contract
              where tenant_id = #{tenantId}
                and del_flag = 0
                and channel_id = #{channelId})
            +
            (select count(1)
               from payment_order
              where tenant_id = #{tenantId}
                and channel_id = #{channelId})
            +
            (select count(1)
               from payment_reconciliation
              where tenant_id = #{tenantId}
                and del_flag = 0
                and channel_code = #{channelCode})
            +
            (select count(1)
               from payment_settlement_summary
              where tenant_id = #{tenantId}
                and del_flag = 0
                and channel_code = #{channelCode})
        )
    </select>
</mapper>
